//- action
//- trigger_width
mixin room-form(parameters)
    form(
        action=parameters.action
        method='post'
        trigger=parameters.trigger_width
        class='room-form'
        class='room-form_size_' + parameters.size
    )&attributes(attributes)

        include ./__caption/room-form__caption.pug
        include ./__guests/room-form__guests.pug
        include ./__dates-container/room-form__dates-container.pug
        include ./__calendar/room-form__calendar.pug

        +room-form__caption()
        +room-form__dates-container()
        +room-form__calendar()
        +room-form__guests()